<%= content_for :title, 'Users' %>

<div class="container">
  <h1>Users</h1>

  <div class="actions mb-3">
    <%= link_to 'New User', new_admin_user_path, class: 'btn btn-success' %>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, [:admin, user] %></td>
          <td>
            <span class="badge badge-dark"><%= user.role.humanize %></span><br>
          </td>
          <td>
            <%= link_to 'Edit', [:edit, :admin, user], class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Destroy',
                        [:admin, user],
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>